includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Filament\\Forms\\Contracts\\HasForms::[a-zA-Z0-9\\_]()#'
